/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --peachpuff: #ffe2de;
    --white: white;
    --dark-blue: rgb(89, 109, 167);
    --light-blue: #62d0df;
    --grey: rgb(165, 164, 164);

    /*--some: rgba(33, 50, 112, 0.12);
    --one: rgba(33, 50, 112, 0.7);*/
    
}

header {
    background-image: url(../img/background/background-banner.png);
    background-position: center;
    min-height: 882.11px;
    background-repeat: no-repeat;
    background-position-x: 53%;
    background-position-y: -1%;
    background-size: cover;
    /*min-width: 360px;*/
    /*box-sizing: border-box;*/
    /*border-style: solid;
    border-color: black;
    border-width: 1px;*/
}

.logo {
    width: 221px;
    height: 61px;
}

.home {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 9px;
    padding-bottom: 0px;
    padding-left: 7px;
    margin-left: 31px;
    width: 90%;
    /*width: 100%;*/
    /*min-height: 100px;
    min-width: 360px;*/
    /*border-style: solid;
    border-color: black;
    border-width: 1px;*/
}

.banner {
    padding: 99px 1px 0px 25px;
    width: 96%;
}

header nav .menu {
    display: flex;
    flex-direction: column;
    /*border-style: solid;
    border-color: black;
    border-width: 5px;*/
    /*margin: 25px;*/
    /*width: 100%;*/
}

header nav .menu a{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    color: var(--dark-blue);
    /*font-size: 17px;*/
    /*border-style: solid;
    border-color: black;
    border-width: 1px;*/
}

header nav .menu a:hover {
    font-weight: bold;
}

@media (min-width: 600px) {
    header div .home {
        display: flex;
    }
    header nav .menu {
            flex-direction: row;
            align-items: right;
            justify-content: space-around;
            flex: 1;
        }
}

@media (min-width: 400px) {

}

h1 {
    font-family: 'Rubik', sans-serif;
    color: var(--white);
    font-size: 60px;
    font-weight: 700; 
    /*margin: 25px;*/
    /*border-style: solid;
    border-color: black;
    border-width: 1px;*/
}

.its-time {
    font-family: 'Patrick Hand', cursive;
    color: var(--peachpuff);
    font-size: 20px;
    font-weight: bold;
    /*margin: 0px 25px 20px 20px;*/
    /*margin: 25px;*/
    /*border-style: solid;
    border-color: black;
    border-width: 1px;*/
}

.take-your {
    font-family: 'Fira Sans', sans-serif;
    color: var(--white);
    font-size: 19px;
    margin: 44px 2px 29px 1px;
    /*margin: 25px;*/
    /*border-style: solid;
    border-color: black;
    border-width: 1px;*/
}

.accent-color {
    color: var(--peachpuff);
}

.link{
    /*border-style: solid;
    border-color: black;
    border-width: 5px;*/
    /*margin: 35px;*/
    /*margin: 50px;*/
    /*border: 1px solid black;*/
    text-decoration: none;
    color: var(--white);
    font-size: 14.3px;
    font-weight: bold;
    width: 68%;
    top: 115%;
    left: 7%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    background: linear-gradient(110deg,#a2e3ec,#62d0df);
    background-position: 50%;
    overflow: visible;
    cursor: pointer;
    border: var(--light-blue);
    border-radius: 30px;
    padding: 17px;


}

.link:hover {
    opacity: 0.9;
    border: var(--light-blue);
}