@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --peachpuff: peachpuff;
    --white: white;
    --dark-blue: rgb(89, 109, 167);
}

.home {

}
.logo {
    padding-left: 10px;
    padding-top: 10px;
    width: 280px;
    
}



header {
    background-image: url(../img/background/background-banner.png);
    background-position: center;
    min-height: 780px;
    min-width: 360px;
    background-repeat: cover;
    background-position-x: 55%;
    background-position-y: 45%;

}

.menu {
    margin-left: 30px;
}

.its-time {
    font-family: 'Patrick Hand', cursive;
    color: var(--peachpuff);
    margin: 25px;
}

.take-your {
    font-family: 'Fira Sans', sans-serif;
    color: var(--white);
    margin: 25px;
}
.accent-color {
    color: var(--peachpuff);

}

header nav .menu {
    display: flex;
    flex-direction: column;

}
header nav .menu a{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    color: var(--dark-blue);
    font-size: 17px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: var(--white);
    margin: 25px;
}


.social-icons {
    margin: 25px;
}

.link{
    margin: 50px;
}