@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

*{
    margin: 0;
}

:root {
    --peachpuff: #ffe2de;
    --white: rgb(255, 255, 255);
    --dark-blue: rgb(89, 109, 167);
    --light-blue: #62d0df;
    --grey: rgb(165, 164, 164);
    --dark-peachpuff: #F6B5AD;
    --black-blue: #213270;

}

*,
*:before,
*:after {
    box-sizing: border-box;

}

/*home*/
.container {
    width: 75%;
    margin: 0 auto;
    
    
}

.header .container .head {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-top: 25px;
    

}

.header .container .head .menu {

    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center; 

}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130vh;
    background-image: url(../img/background/background-banner.png);
    background-position-x: 53%;
    background-position-y: -1%;
    background-repeat: no-repeat;
    background-size: cover;

}

.header .container .head .header_logo .logo {
    max-width: 33%;

}

.header .container .head .header_logo {
    flex: 1;
}


.header .container .head .menu .nav a {
    display: inline-block;
    vertical-align: top;
    margin: 0px 15px;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    color: var(--dark-blue);
    text-decoration: none;

}

header nav .nav a:hover {
    font-weight: bold;

}

/*banner*/
.header .container .banner {
    max-width: 60%;
    padding-top: 100px;

}

.header .container .banner h1 {
    font-family: 'Rubik', sans-serif;
    color: var(--white);
    font-size: 95px;
    font-weight: 20px;
    margin-top: 1rem;

}

.accent-color {
    color: var(--peachpuff);

}

.header .container .banner .its-time {
    font-family: 'Patrick Hand', cursive;
    color: var(--peachpuff);
    font-size: 20px;
    font-weight: bold;

}

.header .container .banner .take-your {
    font-family: 'Fira Sans', sans-serif;
    color: var(--white);
    font-size: 19px;
    margin-top: 2rem;
    margin-bottom: 4rem;

}

.link {
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    color: var(--white);
    font-size: 14.3px;
    font-weight: bold;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    background: linear-gradient(to right, #b6e6ec, var(--light-blue));
    background-position: 80%;
    overflow: visible;
    cursor: pointer;
    border: var(--light-blue);
    border-radius: 30px;
    padding: 17px;
    
}

.link:hover {
    opacity: 0.9;
    border: var(--light-blue);
    background: linear-gradient(to left, #b6e6ec, var(--light-blue));
    background-position: 80%;
    overflow: visible;

}

/*short-navigation*/
main .short-navigation {
    width: 100%;
    height: 75vh;
    display: flex;
    
}


main .short-navigation > div {
    width: 33.3333%;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

}
    

main .short-navigation div a {
    text-decoration: none;
    color: var(--white);
    font-size: 15px;

}

main .short-navigation div img {
    max-width: 20%;
    fill: var(--white);
    padding-top: 150px;
    background-position-x: 26%;
    background-position-y: 6%;

}

main .short-navigation .navigation-yellow {
    background-image: url(../img/background/yellow-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 56%;
    background-position-y: -1%;

}

main .short-navigation .navigation-blu {
    background-image: url(../img/background/blue-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 56%;
    background-position-y: -1%;

}

main .short-navigation .navigation-dark-blu {
    background-image: url(../img/background/dark-blue-background.png);
    background-size: cover;
    background-position-x: 48%;
    background-position-y: -1%;

}

/*about-us*/
main .about-us {
    width: 100%;
    height: 140vh;
    display: grid;
    grid-template-columns: 1fr 1fr; 

}

.about-us .about-us-foto {
    background-image: url(../img/background/girl-with-bottle.jpg);
    background-position-x: 50%;
    background-position-y: -1%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 140vh;

}

.about-us .about-us-info {
    max-width: 80%;
    margin: auto;
    
}

.about-us-info .info-us h3 {
    font-family: 'Patrick Hand', sans-serif;
    font-weight: bold;
    color: var(--dark-peachpuff);
    font-size: 22px;

}

.about-us-info .info-us h2 {
    font-weight: bold;
    color: var(--dark-blue);
    font-size: 66px;
    font-family: 'Rubik', sans-serif;
    
}

.about-us-info .info-us p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 19px;
    color: var(--dark-blue);
    margin: 10px 0px 10px 0px;
    font-style: italic;

}

.about-us-info .our-advantages h4 { 
    color: var(--dark-peachpuff);
    font-size: 24px;
    font-weight: bold;
    margin: 0px 25px 0px 25px;

}

.about-us-info .our-advantages p {
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    color: var(--grey);
    margin: 15px 25px 25px 25px;
    
}
.back {
    background-color: var(--peachpuff);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.our-advantages img {
    margin: 13px;
    
}

.item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 1rem;

}


main .about-us .about-us-info .button {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    color: var(--dark-blue);
    text-decoration: none;
    width: 90%;
    padding-top: 30px;

}


main .about-us .about-us-info button:hover {
    font-weight: bold;
}

/*how-to-start*/

main .how-to-start {
    background-color: var(--peachpuff);
    text-align: center;
    width: 100%;
    height: 95vh;
    padding-top: 100px;

}

.start-container{
    max-width: 80%;
    margin: auto;
}

main .how-to-start .start-info h4 {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 22px;
    color: var(--dark-peachpuff);
    font-weight: bold;

}

main .how-to-start .start-info h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 66px;
    color: var(--black-blue);
    font-weight: bold;
    margin-top: 25px;

}

main .how-to-start .start-info p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 19px;
    color: var(--dark-blue);
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 50px;
    
}

main .how-to-start .easy-steps {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;

}

main .how-to-start .easy-steps h4 {
    font-size: 35px;
    background-color: var(--white);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    color: var(--dark-peachpuff);
    padding-top: 14px;
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
}

main .how-to-start .easy-steps div h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: var(--black-blue);
    margin: 30px 0px 30px 0px;

}

main .how-to-start .easy-steps div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    color: var(--grey);

}

/*go-online*/
main .go-online {
    background-image: url(../img/background/girl-rug-background.png);
    width: 100%;
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

main .go-online .link-go{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    color: var(--dark-peachpuff);
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    cursor: pointer;
    border-radius: 30px;
    padding: 20px;
    margin-left: 175px;
    max-width: 15%;
    
}

main .go-online .link-go:hover {
    opacity: 0.9;
    border: var(--peachpuff);
    background: linear-gradient(to right, var(--peachpuff), var(--dark-peachpuff));
    background-position: 80%;
    overflow: visible;
    color: var(--white);
    border: var(--peachpuff);

}

main .go-online h3 {
    margin-left: 175px;
    padding-top: 103px;
    margin-bottom: 5px;
    color: var(--peachpuff);
    font-family: 'Patrick Hand', sans-serif;
    font-size: 22px;
    max-width: 45%;

}

main .go-online h2 {
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    font-size: 66px;
    margin-left: 175px;
    margin-bottom: 55px;
    max-width: 45%;

}

main .go-online ul {
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-left: 175px;
    font-weight: 700;
    margin-bottom: 15px;
    max-width: 45%;

}

main .go-online ul {list-style: none}
main .go-online ul li::before {
    content: "•"; 
    color: var(--dark-peachpuff);
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    margin-bottom: 15px;
    
}

main .go-online p {
    color: var(--white);
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    margin-left: 175px;
    font-weight: 600;
    margin-bottom: 75px;
    max-width: 45%;
    line-height: 30px;

}
/*our-instructors*/
.our-instructors {
    width: 100%;
    height: 130vh;
    background-color: var(--white);

}

.container-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 102px;

}

.container-text h5 {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 21px;
    color: var(--dark-peachpuff);
    padding-bottom: 21px;

}

.container-text h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 63px;
    color: var(--black-blue);
    padding-bottom: 40px;

}

.container-text p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: var(--dark-blue);
    padding-bottom: 63px;
    font-style: italic;

}
.trainers {
    width: 85%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between; 
    margin: 0 auto;
    
}
            
.trainers .fitness {
    background-image: url(../img/instructors/alice-fergusson.webp);
    background-position-x: 50%;
    background-position-y: -1%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    height: 60vh;
}

.trainers .pilates {
    background-image: url(../img/instructors/dan-williamson.webp);
    background-position-x: 50%;
    background-position-y: -1%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    height: 60vh;
}

.trainers .yoga {
    background-image: url(../img/instructors/jane-kellen.webp);
    background-position-x: 68%;
    background-position-y: -1%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    height: 60vh;
}

.name {
    background-color: var(--light-blue);
    max-width: 85%;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    color: var(--white);
    text-align: center;
    margin-top: 400px;
    padding: 20px 0px 20px 0px;
}
/*
.aligh-left {
    float: left;
    margin-right: 20px;
}

.aligh-right {
    float: right;
    margin-left: 20px;
}

.slide-in {
    opacity: 0;
    transition: all .5s;
}
 .aligh-left.slide-in {
     transform: translateX(-30%) scale(0.95);

 }
 .aligh-right.aligh-left.slide-in {
     transform: translateX(30%) scale(0.95);
 }
 .slide-in.active{
     opacity: 1;
     transform: translateX(0%) scale(1);
 }*/

